@charset "utf-8";
/* CSS Document */

body{
	margin: 15px;
	padding: 15px;
	font-size: 13px;
}
p{
	text-indent: 25px;
}
table{
	font-size: 11px;
	border-color: darkred;
	
}
h2{
	text-align: left;
}

.name{
	text-align: left;
	font-size: 14px;
}
.emoji{
	font-size: 30px;
}